.Rproj.user
.Rhistory
.RData
.Ruserdata
*.jpg
*.jpeg
*.png
*.gif
!bayesian_reasoning_flowchart.png
_book/
materials/Question/Follow_up/output/
packages.bib
materials/qualtrics/output/*.txt
materials/qualtrics/output/
materials/qualtrics/input/followUp/
*.html
.httr-oauth
