.Rproj.user
.Rhistory
.RData
.Ruserdata
*.jpg
*.jpeg
*.png
*.gif
_book/
materials/Question/Follow_up/output/
packages.bib
materials/qualtrics/output/*.txt
materials/qualtrics/output/
materials/qualtrics/input/followUp/
